{% extends 'layout.html' %} {% block title %} Allert {% endblock %} {% block content %}

<div class="container">
  <!-- info mobil listrik -->
  <div class="row justify-content-center">
    <div class="col wadah-slur">
      <div class="col-lg text-center">
        <h1>Akses ditolak !</h1>
      </div>
      <div class="row"></div>
      <div class="col-lg text-center">
        <img src="static/img/allert.png" alt="bagus" class="img-fluid" />
        <p>Silahkan minta kode akses kepada pengelola aplikasi</p>
      </div>
    </div>
  </div>
  <!-- end info mobil listrik -->
</div>

{% endblock %}
