{% extends 'layout.html' %} {% block title %} Succes! {% endblock %} {% block content %}

<div class="container">
  <h5 class="judul-user">.</h5>
  <!-- info mobil listrik -->
  <div class="row justify-content-center">
    <div class="col wadah-slur">
      <div class="col-lg text-center">
        <h1>REGISTER SUKSES !</h1>
      </div>
      <div class="row"></div>
      <div class="col-lg text-center">
        <!--<img src="static/img/allert.png" alt="bagus" class="img-fluid" />-->
        <p>REGISTER SUKSES SILAHKAN MASUK MENGGUNAKAN AKUN ANDA</p>
      </div>
    </div>
  </div>
  <!-- end info mobil listrik -->
</div>

{% endblock %}
