{% extends 'layoutadmin.html' %} {% block title %} Dashboard Admin {% endblock %} {% block content %}

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function calc1() {
      //Utilization
      var AvaiabilityTime = parseFloat(document.getElementById('AvaiabilityTime').value);
      var DelayTime = parseFloat(document.getElementById('DelayTime').value);
      var IdleTime = parseFloat(document.getElementById('IdleTime').value);
      var AvailableTime = parseFloat(document.getElementById('AvailableTime').value);

      if (isNaN(AvaiabilityTime) || isNaN(DelayTime) || isNaN(IdleTime) || isNaN(AvailableTime)) {
        // Jika salah satu atau kedua input menghasilkan NaN, tampilkan pesan "Lengkapi Data"
        document.getElementById('resultUtilization').value = 'Lengkapi Data';
      } else {
        // Jika kedua input adalah angka yang valid, lakukan perhitungan dan tampilkan hasilnya
        document.getElementById('resultUtilization').value = (((AvaiabilityTime - (DelayTime + IdleTime)) / AvailableTime) * 100).toFixed(2) + ' %';
      }
    }

    document.getElementById('AvaiabilityTime').oninput = calc1;
    document.getElementById('DelayTime').oninput = calc1;
    document.getElementById('IdleTime').oninput = calc1;
    document.getElementById('AvailableTime').oninput = calc1;
  });
</script>

<h5 class="judul-user">.</h5>

<div class="container">
  <div class="row">
    <div class="">
      {% block body %}
      <div class="col text-center">
        <div class="row justify-content-center">
          <div class="col wadah-slur">
            <!-- Tombol aksi -->
            <div class="row justify-content-center">
              <div class="row justify-content-center">
                <div class="col text-center">
                  <h5 class="judul-user">.</h5>
                  <button onclick="location.href='/AvailabilityDash'" class="btn-2">Availability</button>
                </div>

                <div class="col text-center">
                  <h5 class="judul-user">.</h5>
                  <button onclick="location.href='/UtilizationDash'" class="btn-2-hovered">Utilization</button>
                </div>

                <div class="col text-center">
                  <h5 class="judul-user">.</h5>
                  <button onclick="location.href='/ProductivityDash'" class="btn-2">Productivity Index</button>
                </div>

                <div class="col text-center">
                  <h5 class="judul-user">.</h5>
                  <button onclick="location.href='/OEEDash'" class="btn-2">OEE Calculate</button>
                </div>
              </div>
            </div>
            <!-- end Tombol aksi -->
            <h5 class="judul-user">.</h5>
            <hr />

            <div class="col-lg text-center">
              <h1>Utilization</h1>
              <h5>Calculator</h5>
            </div>
            <hr />

            <div class="row" style="max-height: 1000px">
              <div class="col-sm text-center">
                <div class="col-lg text-center">
                  <h5>Utilization</h5>
                  <label for="AvaiabilityTime">Avaiability Time</label>
                  <input type="text" class="form-control text-center" id="AvaiabilityTime" />

                  <label for="DelayTime">Delay Time</label>
                  <input type="text" class="form-control text-center" id="DelayTime" />

                  <label for="IdleTime">Idle Time</label>
                  <input type="text" class="form-control text-center" id="IdleTime" />

                  <label for="AvailableTime">Available time</label>
                  <input type="text" class="form-control text-center" id="AvailableTime" />

                  <!-- Remove the button, and the calculation will happen automatically -->
                  <label for="resultUtilization">Result Utilization</label>
                  <input type="text" class="form-control text-center" id="resultUtilization" disabled />
                </div>
              </div>

              <div class="col-sm">
                <div class="col-lg text-center">
                  <h5>Utilization Formula</h5>
                  <br />
                  <br />
                  <img src="static/img/utilization.jpg" alt="utilization" width="500" />
                  <img src="static/img/utilization_table.jpg" alt="utilization_table" width="500" />
                </div>
              </div>

              <!-- <div class="col-sm text-center">
                <div class="col-lg text-center">
                  <h5>Utilization XX</h5>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <!-- /.container -->

      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}
